$theme-red: #f37d7d;
$theme-red-hover: #b25a5a;
$theme-red-font: #2d1616;

$theme-green: #09e083;

$neutral-light: #9099d5;
$neutral-light-hover: #676d98;
$neutral-light-font: #181a28;

$theme-bright-green: #757eab;
$theme-green-hoover: #057f4a;
$theme-dark-green: #0a3e07;

$darker-main: #1b1e2d;
$lighter-main: rgb(51, 56, 82);

$main: #333852;
$bright-main: #6a7199;
$inactive-main: #292d41;